ul.hashtag-list {
    list-style-type: none;
}

ul.hashtag-list li {
    display: inline;
}

.hashtag-item {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

.hashtag-circle {
    height: 68px;
    width: 68px;
}

canvas.hashtag-level-bar {
    height: 66px;
    margin: 2px 0 0 2px;
    position: absolute;
    width: 132px;
}

.hashtag-icon {
    background-color: #db2f61;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.3);
    height: 50px;
    margin: 10px;
    position: absolute;
    width: 50px;
}

.hashtag-level {
    background: black;
    border-radius: 50%;
    color: white;
    visibility: hidden;
    opacity: 0.6;
    position: absolute;
}

.hashtag-icon:hover .hashtag-level {
    visibility: visible;
}

.hashtag-label {
    color: #4d4d4d;
    width: 100%;
}

.hashtag-label div {
    font-size: small;
    text-align: center;
}

.hashtag-label > div:first-child {
    font-weight: bold;
}

.hashtag-label.truncate > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 68px;
}

.hashtag-level span {
    display: block;
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    width: 50px;
}
